.predictions-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    width: 200px;
    overflow-x: hidden;
    font-size: 10px;
    -webkit-box-shadow: 5px -5px 25px -5px rgba(120, 120, 120, 0.6);
    -moz-box-shadow: 5px -5px 25px -5px rgba(120, 120, 120, 0.6);
    box-shadow: 5px -5px 25px -5px rgba(120, 120, 120, 0.6);
    .list-wrapper {
        padding: 10px;
        border: 1px solid #ff9800;
        margin: 5px;
        overflow: hidden;
    }
    p {
        padding: 0;
        margin-bottom: 0;
    }
    button {
        font-size: 12px;
        margin: 5px;
        line-height: 22px;
        display: block;
        width: 95%;
        border-radius: 0;
    }
}

.remove-pred {
    cursor: pointer;
    color: #FF9800;
}