@import '../../../theme.scss';
form {
    display: block;
    margin-top: 25px;
    .input-container {
        display: block;
        padding: 15px 0;
    }
    .submit {
        display: block;
        width: 100%;
        border-radius: 4px;
        padding: 4px 0;
        margin-top: 25px;
    }
}

.filled {
    color: $accent-color;
}

.invalid {
    color: $warn;
}

.error {
    color: $warn;
    position: absolute;
    top: 5px;
    right: 5px;
}

.error-text {
    color: $warn;
    opacity: 0.38;
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 11px;
}

a.facebook-login {
    display: block;
    width: 100%;
}