<div class="info-card">
    <img style="width: 100%" src="http://lorempixel.com/400/200" />
    <div class="info-card-details animate">
        <div class="info-card-header">
            <h1> {{title}} </h1>
            <h3> {{timeStart}} </h3>
        </div>
        <div class="info-card-detail">
            <!-- Description -->
            <p>People often say that beauty is in the eye of the beholder, and I say that the most liberating thing about beauty is realizing that you are the beholder. This empowers us to find beauty in places where others have not dared to look including
                inside ourselves.</p>
        </div>
    </div>
</div>