<h2>Login component</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iste laboriosam laudantium nam nemo! Beatae
    consectetur dolorum ducimus error excepturi impedit minima, nam nisi placeat porro quae quo rem sit!</p>
<!--<form class="form" [formGroup]="form">-->
<!--<app-ui-input label="Name" placeholder="Enter name...." [control]="form.get('name')"></app-ui-input>-->
<!--<app-ui-input label="Text" placeholder="Enter text...." [control]="form.get('text')"></app-ui-input>-->

<!--<app-ui-button [disabled]="!form.valid"  text="Add Feed Changed" (click)="submitFeed()"></app-ui-button>-->
<!--</form>-->
