@import '../../theme.scss';
:host {
    display: block;
    margin-top: 40px;
}

.card-container {
    display: block;
    max-width: 500px;
}

.input-container,
.input-radio {
    margin: 5px;
    width: 100%;
}

form{
    width: 100%;
}

.filled {
    color: $accent-color;
}

.invalid {
    color: $warn;
}

.error {
    color: $warn;
    position: absolute;
    top: 5px;
    right: 5px;
}

.error-text {
    color: $warn;
    opacity: 0.38;
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 11px;
}