<div class="container">
    <app-predictions [predictions]="fixtures" [state]="sideMenuState" (onMenuClosed)="handleMenuClose($event)"></app-predictions>
    <div class="inner-wrapper" [@toggleContainerWidth]='sideMenuState'>
        <div class="row justify-content-center align-items-center">
            <h2 class="title mt-5 mb-5">Matches for {{todaysDate}}</h2>
        </div>
        <a href="/api/auth/facebook">Login with Facebook</a>
        <div class="row justify-content-center align-items-center predictions-list">
            <div class="col-md-4" *ngFor="let match of todaysMatches; let i = index">
                <app-ui-card (onPredictionAdded)="handleAddPrediction($event)" [fixture]="match" [result]="match.result" [status]="match.status" [odds]="match.odds" [title]="match.homeTeamName + ' vs ' + match.awayTeamName" [timeStart]="match.date | date:'short'"></app-ui-card>
            </div>
        </div>
    </div>
</div>