<div class="container">
    <div class="row justify-content-center">
        <h2 class="title mt-5 mb-5">Matches for {{todaysDate}}</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4" *ngFor="let match of todaysMatches; let i = index">
            <app-ui-card [homeTeamImgs]='homeTeamImgs[i]' [awayTeamImgs]='awayTeamImgs[i]' [title]="match.homeTeamName + ' vs ' + match.awayTeamName" [timeStart]="match.date | date:'short'"></app-ui-card>
        </div>
    </div>
</div>