<div class="container-fluid">
    <div class="row justify-content-center">
        <h2 class="title">Dashboard component</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
        </div>
        <div class="col-md-4">
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
            <app-ui-card [img]='imgsrc' [title]='title' [description]='description'></app-ui-card>
        </div>
    </div>
</div>