@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary-theme: md-palette($md-deep-orange, 500);
$accent-theme: md-palette($md-light-blue, 600, A100, A400);
$warn-theme: md-palette($md-red, 600);
$theme: md-light-theme($primary-theme, $accent-theme, $warn-theme);
@include angular-material-theme($theme);
// Main colors
$primary-color-dark: #FF5722;
$primary-color: #FF9800;
$primary-color-light: #FFC107;
$primary-color-text: #FFFFFF;
$accent-color: #03a9f4;
$warn: red;
// Text colors
$primary-text-color: #323337;
$secondary-text-color: #979a87;
// Dividers
$divider-color: #BDBDBD;