@import '~@angular/material/core/theming/all-theme';

@include md-core();
$primary-theme: md-palette($md-indigo, 500);
$accent-theme: md-palette($md-teal, 600, A100, A400);
$warn-theme: md-palette($md-red, 600);
$theme: md-light-theme($primary-theme, $accent-theme, $warn-theme);
@include angular-material-theme($theme);

// Main colors
$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #009688;

// Text colors
$primary-text-color: #212121;
$secondary-text-color: #757575;

// Dividers
$divider-color: #BDBDBD;