.app-toolbar-filler {
  flex: 1 1 auto;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
}

.topnav div a.active {
  border: 1px solid #fff;
}

.topnav div a {
  border: 1px solid transparent;
}

.title {
  cursor: pointer;
}

//.app-icon-button {
//  box-shadow: none;
//  user-select: none;
//  background: none;
//  border: none;
//  cursor: pointer;
//  filter: none;
//  font-weight: normal;
//  height: auto;
//  line-height: inherit;
//  margin: 0;
//  min-width: 0;
//  padding: 0;
//  text-align: left;
//  text-decoration: none;
//}

/*ul.topnav li.icon {*/
/*display: none;*/
/*}*/

/*@media screen and (max-width: 680px) {*/
/*ul.topnav li:not(:first-child) {*/
/*display: none;*/
/*}*/

/*ul.topnav li.icon {*/
/*float: right;*/
/*display: inline-block;*/
/*}*/
/*}*/

/*@media screen and (max-width: 680px) {*/
/*ul.topnav.responsive {*/
/*position: relative;*/
/*}*/

/*ul.topnav.responsive li.icon {*/
/*position: absolute;*/
/*right: 0;*/
/*top: 0;*/
/*}*/

/*ul.topnav.responsive li {*/
/*float: none;*/
/*display: inline;*/
/*}*/

/*ul.topnav.responsive li a {*/
/*display: block;*/
/*text-align: left;*/
/*}*/
/*}*/
