<md-toolbar color="white" class="topnav">
    <span class="title" routerLink="/">WinBet</span>
    <div class="button-row">
        <a md-button routerLink="/dashboard" routerLinkActive="active" class="mr-1">Dashboard</a>
        <a md-button routerLink="/profile" routerLinkActive="active" class="mr-1">Profile</a>
    </div>

    <span class="app-toolbar-filler"></span>
    <div class="username-container" *ngIf="userLogged">
        <img [src]="avatarLink" class="rounded-circle mr-2" />
        <span class="username mr-3">{{name}}</span>
    </div>
    <div class="button-row right">
        <a md-button *ngIf="!userLogged" (click)="openDialog()" class="mr-2">Open dialog</a>
        <a md-button routerLink="/signup" routerLinkActive="active" *ngIf="!userLogged" class="mr-2">Sign up</a>
        <a md-raised-button color="primary" class="login mr-2" routerLink="/login" routerLinkActive="active" *ngIf="!userLogged">Log in</a>
        <a md-button routerLink="/login" routerLinkActive="active" (click)="signOut()" *ngIf="userLogged" class="mr-2">Sign out</a>
        <app-facebook-login (userUpdated)="handleFaceBookLogin($event)" *ngIf="!userLogged"></app-facebook-login>
    </div>
</md-toolbar>